    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Bakes hand-made by Alexandrea Gonzáles</h2>
                <p>Do you love that taste of home baking with a homely touch? Then look no further.</p>
                <p>I provide a special touch of home, from brownies to cakes. Trust me when I say they are yummy! They are!</p>
                <p>Can't wait to bake for you.</p>
            </div>
        </div>
    </section>