    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Custom-made Just For You</h2>
                    <p>I have lots of lovely things in my Etsy shop.</p>
                    <p>If you are after something custom-made, or want so see more examples of my work, you can find me on facboook.</p>
                </div>
            </div>
        </div>
    </section>